# Assignment 1

*Alexander Dybdahl, Alexia Stéphanie Liviana Paratte, Arya Salahshour, Valentin Antoine Roger Vuillon*

In [4]:
import pandas as pd

df = pd.read_table("lpmc07.dat")

df.head()

,trip_id,household_id,person_n,trip_n,travel_mode,purpose,fueltype,faretype,bus_scale,survey_year,...,dur_pt_access,dur_pt_rail,dur_pt_bus,dur_pt_int,pt_interchanges,dur_driving,cost_transit,cost_driving_fuel,cost_driving_ccharge,driving_traffic_percent
0,10,1,0,0,4,3,1,5,0.0,1,...,0.209167,0.000000,0.123611,0.000000,0,0.141389,0.0,0.51,0.0,0.090373
1,26,7,0,2,1,3,2,1,1.0,1,...,0.068333,0.000000,0.033889,0.000000,0,0.055278,1.5,0.10,0.0,0.105528
2,47,12,0,1,4,5,1,5,0.0,1,...,0.082222,0.000000,0.547500,0.133333,1,0.355556,0.0,1.28,0.0,0.302344
3,80,16,0,1,3,5,6,5,0.0,1,...,0.276667,0.450000,0.000000,0.200000,2,0.815833,0.0,2.02,0.0,0.605720
4,88,17,4,0,4,3,1,1,1.0,1,...,0.337500,0.166667,0.000000,0.000000,0,0.342500,1.9,1.35,0.0,0.300892